
<%- include('partials/header.ejs') %>

    <h1>Home</h1>

    <p><%= homeStartingContent %></p>

    <% posts.forEach(function(post) { %> 
        <% let postTitle = post.title; %> 
        <% let postId = post._id; %>
        <h1> <%= post.title %> </h1>
        <% let maxCharacters = 100; %> 

        <% if (post.body.length > maxCharacters){ %> 
            <% let truncatedBody = post.body.slice(0, maxCharacters-1); %> 
            <p> <%= truncatedBody %> ... 
                 <a href="/posts/<%= postId %>" >Read more</a>
            </p>
        <% } else { %> 

            <p> <%= post.body %> 
                <a href="/posts/<%= postId %>" >Read more</a>
            </p>
        <% } %> 
       

    <% }); %> 


<%- include('partials/footer.ejs') %>